<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>216399706344-j6l9j29cnp45k9v5sti9e7dbp9vrud0q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.216399706344-j6l9j29cnp45k9v5sti9e7dbp9vrud0q</string>
	<key>API_KEY</key>
	<string>AIzaSyA_IYzpPQdmhiR9UG_hfQZNi_zyQ839wbM</string>
	<key>GCM_SENDER_ID</key>
	<string>216399706344</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.kshrd.PushNotification</string>
	<key>PROJECT_ID</key>
	<string>fir-demo-9d15e</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demo-9d15e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:216399706344:ios:3a65f3d214af4aad</string>
	<key>DATABASE_URL</key>
	<string>https://fir-demo-9d15e.firebaseio.com</string>
</dict>
</plist>